.portada {
    display: flex;
    justify-content: center;
}

.columna-portada {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.img-portada {
    border: solid;
    border-color: #151F2E;
    border-width: 0.005em;
    border-radius: 10px;
}

.productos-contenedor {
    margin: 30px 5vw;
    padding: 20px;
    background-color: #10002B;
}

.label-productos {
    margin: 10px 0.1em;
    text-align: start; /* Alinea el título "Productos" a la izquierda */
}

.boton-ordenar {
    margin-bottom: 15px;
    padding: 10px;
    justify-content: end;
}

/* Asegurar que todas las cards tengan la misma altura */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Ajustar la altura de las imágenes y hacer que ocupen todo el ancho */
.card-img-top {
    height: 275px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover;
}

.img-marca {
    width: 6.25%;
    margin: 1px 1px;
}

.productos-contenedor,
.borde-contenedor {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.marcas-contenedor, .borde-contenedor-marcas {
    margin: 30px 5vw;
    padding: 20px;
    background-color: #10002B;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.swiffy-slider {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.slider-container>li {
    display: flex;
    justify-content: space-around;
}

.slider-container>li>img {
    border-radius: 10%;
}