.section-producto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.producto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-direction: column;
}

.producto-container {
    display: flex;
}

.contenedor-imagen-producto {
    width: 50%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
}

.contenedor-imagen-producto > img {
    width: 90%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.contenedor-comprar {
    width: 50%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.contenedor-comprar-opciones {
    width: 90%;
}

.contenedor-comprar-opciones > h3{
    color: white;
}

.contenedor-comprar-opciones > p{
    color: white;
    font-size: 2em;
    border-top: 1px solid rgba(255, 255, 255, 0.171);
    padding-top: 20px;
}

.contenedor-comprar-avisos {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.171);
    padding-top: 20px;
}

.contenedor-comprar-avisos > p {
    color: green;
}

.detalles-producto {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #1e1f2075;
    text-align: center;
    padding: 20px 20px;
    color: white;
}

@media (max-width: 768px)
{
    .producto {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        flex-direction: column;
    }
    .detalles-producto {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        background-color: #1e1f2075;
        text-align: center;
        padding: 20px 20px;
        color: white;
    }
}

@media (max-width: 576px) {
    .producto-container {
        flex-direction: column;
    }
    .contenedor-imagen-producto {
        width: 100%;
    }

    .contenedor-comprar {
        width: 100%;
    }
}
