.productos-carrito {
    margin: 30px 5vw;
    padding: 20px;
    background-color: #10002B;
}

.detalle-envio {
    margin: 30px 5vw;
    padding: 20px;
    background-color: #10002B;
}

.formas-pago {
    margin: 30px 5vw;
    padding: 20px;
    background-color: #10002B;
}

.card-carrito {
    width: 100%;
    color: white;
    background-color: #151F2E;
    border-style: solid;
    border-radius: 15px;
    border-width: 0.005em;
    border-color: #10002B;
}

.label-carrito {
    text-align: start;
}

.label-precio {
    text-align: end;
}

.img-carrito {
    width: 7rem;
}

.detalles-envio {
    margin-top: 2rem;
}

.codigo-postal {
    background-color:#151F2E;
    color: aqua;
    border-color: #10002B;
}

.codigo-postal:focus {
    background-color:#151F2E;
    color: white;
}

.rdbtn-formas-pago {
    color: white;
}

.label-precio-final {
    text-align: start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boton-comprar {
    display: flex;
    justify-content: end;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.boton-comprar > btn {
    width: 50px;
}

/* ------------------------------------------------------------ Estilos botones tipo envio ------------------------------------------------------------ */
.tipo-envio {
    text-align: start;
    margin-left: 1em;
    color: aqua;
}

.btn-tipo-envio {
    color: white;
}
  
/* ------------------------------------------------------------ Estilos animacion camion ------------------------------------------------------------ */
.contenedor-camion {
    display: flex;
    justify-content: end;
}

.loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.truckWrapper {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    overflow-x: hidden;
}

/* truck upper body */
.truckBody {
    width: 130px;
    height: fit-content;
    margin-bottom: 6px;
    animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes motion {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* truck's tires */
.truckTires {
    width: 130px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 15px;
    position: absolute;
    bottom: 0;
}

.truckTires svg {
    width: 24px;
}

.road {
    width: 100%;
    height: 1.5px;
    background-color: #282828;
    position: relative;
    bottom: 0;
    align-self: flex-end;
    border-radius: 3px;
}

.road::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #282828;
    right: -50%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 10px solid white;
}

.road::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #282828;
    right: -65%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 4px solid white;
}

.lampPost {
    position: absolute;
    bottom: 0;
    right: -90%;
    height: 90px;
    animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-350px);
    }
}
