body {
    background-color: #151F2E;
}

.box-formulario {
    margin: 150px 25vw;
    background-color: #151F2E;
    padding: 60px 20px 20px 20px;

    border-style: solid;
    border-radius: 10px;
    border-width: 0.05em;
    border-color: aqua;
}

.formulario-contacto {
    padding: 20px;
    background-color: #10002B;
    border-style: solid;
    border-radius: 10px;
}

.boton-contactar {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.boton-contactar > btn {
    width: 50px;
}

.label-contacto {
    text-align: start;
}

.box-mensaje {
    background-color: #10002B;
    color: #8f8f8f;
    border-color: aqua;
}

.box-mensaje:focus {
    background-color: aqua;
    color: black;
    border-color: aqua;
}